{
  "svelteSortOrder" : "options-styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": false,
  "bracketSameLine": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-svelte"]
}

