# Default Owners
* @podman-desktop/reviewers @benoitf

# website
website/** @podman-desktop/reviewers @slemeur @cdrage @benoitf @Firewall
website/docs/** @podman-desktop/reviewers @shipsing @slemeur @cdrage @benoitf @Firewall

# playwright tests
tests/playwright/** @podman-desktop/reviewers @podman-desktop/qe-reviewers @benoitf

