@scope (.dark-scheme) {
  :scope {
    --pd-global-nav-bg: #27272a;
    --pd-global-nav-icon-notification-dot: #8b5cf6;
    --pd-global-nav-icon: #b4b4b4;
    --pd-global-nav-icon-hover: #fff;
    --pd-global-nav-icon-hover-bg: #6234b1;
    --pd-global-nav-icon-inset-bg: #18181b;
    --pd-global-nav-icon-selected: #fff;
    --pd-global-nav-icon-selected-bg: #36363d;
    --pd-global-nav-icon-selected-highlight: #8b5cf6;
    --pd-secondary-nav-bg: #222222;
    --pd-secondary-nav-header-text: #fff;
    --pd-secondary-nav-text: #e4e4e4;
    --pd-secondary-nav-text-hover: #fff;
    --pd-secondary-nav-text-hover-bg: #6234b1;
    --pd-secondary-nav-text-selected: #fff;
    --pd-secondary-nav-selected-bg: #36363d;
    --pd-secondary-nav-selected-highlight: #8b5cf6;
    --pd-secondary-nav-icon-notification-dot: #8b5cf6;
    --pd-secondary-nav-expander: #fff;
    --pd-titlebar-bg: #0f0f11;
    --pd-titlebar-text: #fff;
    --pd-titlebar-icon: #fff;
    --pd-content-breadcrumb: #b4b4b4;
    --pd-content-breadcrumb-2: #ad8bfa;
    --pd-content-header: #fff;
    --pd-content-header-icon: #b4b4b4;
    --pd-content-card-header-text: #f6f6f6;
    --pd-content-card-bg: #18181b;
    --pd-content-card-hover-bg: #36363d;
    --pd-content-card-text: #d1d1d1;
    --pd-content-card-title: #d1d1d1;
    --pd-content-card-light-title: #9a9a9a;
    --pd-content-card-inset-bg: #0f0f11;
    --pd-content-bg: #222222;
    --pd-content-card-icon: #d1d1d1;
    --pd-content-divider: #4a4b4f;
    --pd-content-card-carousel-card-bg: #27272a;
    --pd-content-card-carousel-card-hover-bg: #36363d;
    --pd-content-card-carousel-card-header-text: #f6f6f6;
    --pd-content-card-carousel-card-text: #d1d1d1;
    --pd-content-card-carousel-nav: #9a9a9a;
    --pd-content-card-carousel-hover-nav: #b4b4b4;
    --pd-content-card-carousel-disabled-nav: #222222;
    --pd-invert-content-bg: #18181b;
    --pd-invert-content-header-text: #fff;
    --pd-invert-content-header2-text: #fff;
    --pd-invert-content-card-bg: #27272a;
    --pd-invert-content-card-header-text: #fff;
    --pd-invert-content-card-text: #e4e4e4;
    --pd-invert-content-button-active: #8b5cf6;
    --pd-invert-content-button-inactive: #767676;
    --pd-invert-content-info-icon: #8b5cf6;
    --pd-card-bg: #18181b;
    --pd-card-header-text: #fff;
    --pd-card-text: #e4e4e4;
    --pd-input-field-bg: transparent;
    --pd-input-field-focused-bg: #0f0f11;
    --pd-input-field-disabled-bg: #0f0f11;
    --pd-input-field-hover-bg: transparent;
    --pd-input-field-focused-text: #fff;
    --pd-input-field-error-text: #f86847;
    --pd-input-field-disabled-text: #818181;
    --pd-input-field-hover-text: #818181;
    --pd-input-field-placeholder-text: #818181;
    --pd-input-field-stroke: #4a4b4f;
    --pd-input-field-hover-stroke: #ad8bfa;
    --pd-input-field-stroke-error: #f86847;
    --pd-input-field-stroke-readonly: #707073;
    --pd-input-field-icon: #c8c8c8;
    --pd-input-field-focused-icon: #c8c8c8;
    --pd-input-field-disabled-icon: #c8c8c8;
    --pd-input-field-hover-icon: #c8c8c8;
    --pd-input-checkbox-disabled: #aaabac;
    --pd-input-checkbox-indeterminate: #8b5cf6;
    --pd-input-checkbox-focused-indeterminate: #ad8bfa;
    --pd-input-checkbox-checked: #8b5cf6;
    --pd-input-checkbox-focused-checked: #ad8bfa;
    --pd-input-checkbox-unchecked: #d1d1d1;
    --pd-input-checkbox-focused-unchecked: #ad8bfa;
    --pd-input-toggle-off-bg: #818181;
    --pd-input-toggle-off-focused-bg: #6234b1;
    --pd-input-toggle-on-bg: #8b5cf6;
    --pd-input-toggle-on-focused-bg: #ad8bfa;
    --pd-input-toggle-switch: #fff;
    --pd-input-toggle-focused-switch: #fff;
    --pd-input-toggle-on-text: #fff;
    --pd-input-toggle-off-text: #aaabac;
    --pd-input-toggle-off-disabled-bg: #0f0f11;
    --pd-input-toggle-on-disabled-bg: #0f0f11;
    --pd-input-toggle-disabled-switch: #818181;
    --pd-table-header-text: #b4b4b4;
    --pd-table-header-unsorted: #5c5c5c;
    --pd-table-body-text: #aaabac;
    --pd-table-body-text-highlight: #e4e4e4;
    --pd-table-body-text-sub-secondary: #ad8bfa;
    --pd-table-body-text-sub-highlight: #d1d1d1;
  }
}
