@scope (.light-scheme) {
  :scope {
    --pd-global-nav-bg: #f6f6f6;
    --pd-global-nav-icon-notification-dot: #6d48bf;
    --pd-global-nav-icon: #5c5c5c;
    --pd-global-nav-icon-hover: #4d2d87;
    --pd-global-nav-icon-hover-bg: #bfa7f6;
    --pd-global-nav-icon-inset-bg: #d3d3f2;
    --pd-global-nav-icon-selected: #4d2d87;
    --pd-global-nav-icon-selected-bg: #bfa7f6;
    --pd-global-nav-icon-selected-highlight: #6d48bf;
    --pd-secondary-nav-bg: #e7e8f8;
    --pd-secondary-nav-header-text: #0f0f11;
    --pd-secondary-nav-text: #222222;
    --pd-secondary-nav-text-hover: #4d2d87;
    --pd-secondary-nav-text-hover-bg: #bfa7f6;
    --pd-secondary-nav-text-selected: #4d2d87;
    --pd-secondary-nav-selected-bg: #bfa7f6;
    --pd-secondary-nav-selected-highlight: #6d48bf;
    --pd-secondary-nav-icon-notification-dot: #6d48bf;
    --pd-secondary-nav-expander: #222222;
    --pd-titlebar-bg: #f9fafb;
    --pd-titlebar-text: #37255d;
    --pd-titlebar-icon: #37255d;
    --pd-content-breadcrumb: #37255d;
    --pd-content-breadcrumb-2: #6d48bf;
    --pd-content-header: #0f0f11;
    --pd-content-header-icon: #6234b1;
    --pd-content-card-header-text: #0f0f11;
    --pd-content-card-bg: #f9fafb;
    --pd-content-card-hover-bg: #e2d6fe;
    --pd-content-card-text: #37255d;
    --pd-content-card-title: #0f0f11;
    --pd-content-card-light-title: #37255d;
    --pd-content-card-inset-bg: #d3d3f2;
    --pd-content-bg: #e4e4e4;
    --pd-content-card-icon: #37255d;
    --pd-content-divider: #aaabac;
    --pd-content-card-carousel-card-bg: #e4e4e4;
    --pd-content-card-carousel-card-hover-bg: #efefef;
    --pd-content-card-carousel-card-header-text: #0f0f11;
    --pd-content-card-carousel-card-text: #37255d;
    --pd-content-card-carousel-nav: #d1d1d1;
    --pd-content-card-carousel-hover-nav: #b4b4b4;
    --pd-content-card-carousel-disabled-nav: #efefef;
    --pd-invert-content-bg: #f9fafb;
    --pd-invert-content-header-text: #0f0f11;
    --pd-invert-content-header2-text: #0f0f11;
    --pd-invert-content-card-bg: #e4e4e4;
    --pd-invert-content-card-header-text: #0f0f11;
    --pd-invert-content-card-text: #222222;
    --pd-invert-content-button-active: #6d48bf;
    --pd-invert-content-button-inactive: #767676;
    --pd-invert-content-info-icon: #6d48bf;
    --pd-card-bg: #e4e4e4;
    --pd-card-header-text: #0f0f11;
    --pd-card-text: #222222;
    --pd-input-field-bg: transparent;
    --pd-input-field-focused-bg: #f6f6f6;
    --pd-input-field-disabled-bg: #0f0f11;
    --pd-input-field-hover-bg: transparent;
    --pd-input-field-focused-text: #818181;
    --pd-input-field-error-text: #f86847;
    --pd-input-field-disabled-text: #818181;
    --pd-input-field-hover-text: #818181;
    --pd-input-field-placeholder-text: #818181;
    --pd-input-field-stroke: #4a4b4f;
    --pd-input-field-hover-stroke: #ad8bfa;
    --pd-input-field-stroke-error: #f86847;
    --pd-input-field-stroke-readonly: #707073;
    --pd-input-field-icon: #c8c8c8;
    --pd-input-field-focused-icon: #c8c8c8;
    --pd-input-field-disabled-icon: #c8c8c8;
    --pd-input-field-hover-icon: #c8c8c8;
    --pd-input-checkbox-disabled: #5c5c5c;
    --pd-input-checkbox-indeterminate: #37255d;
    --pd-input-checkbox-focused-indeterminate: #6234b1;
    --pd-input-checkbox-checked: #37255d;
    --pd-input-checkbox-focused-checked: #6234b1;
    --pd-input-checkbox-unchecked: #37255d;
    --pd-input-checkbox-focused-unchecked: #6234b1;
    --pd-input-toggle-off-bg: #818181;
    --pd-input-toggle-off-focused-bg: #6234b1;
    --pd-input-toggle-on-bg: #8b5cf6;
    --pd-input-toggle-on-focused-bg: #6d48bf;
    --pd-input-toggle-switch: #000;
    --pd-input-toggle-focused-switch: #000;
    --pd-input-toggle-on-text: #000;
    --pd-input-toggle-off-text: #818181;
    --pd-input-toggle-off-disabled-bg: #818181;
    --pd-input-toggle-on-disabled-bg: #818181;
    --pd-input-toggle-disabled-switch: #0f0f11;
    --pd-table-header-text: #5c5c5c;
    --pd-table-header-unsorted: #464649;
    --pd-table-body-text: #464649;
    --pd-table-body-text-highlight: #464649;
    --pd-table-body-text-sub-secondary: #6234b1;
    --pd-table-body-text-sub-highlight: #5c5c5c;
  }
}
