@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable dragging links elements */
a {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}
