
:root {
    --pf-global--primary-color--100: #6d28d9;
    --pf-global--primary-color--light-100: #6d28d9;
    --pf-global--primary-color--dark-100: #6d28d9;

    --pf-global--primary-color--200: #5b21b6;
    --pf-global--primary-color--light-200: #5b21b6;
    --pf-global--primary-color--dark-200: #5b21b6;

    --pf-global--primary-color--300: #6d28d9;
    --pf-global--primary-color--light-300: #6d28d9;
    --pf-global--primary-color--dark-300: #6d28d9;
    
    --pf-global--BackgroundColor--300: #4B5563;
    
    --pf-c-form__helper-text--m-error--Color: #FF0000;
}