:root {
  --pf-global--primary-color--100: #8442f5;
  --pf-global--primary-color--light-100: #8442f5;
  --pf-global--primary-color--dark-100: #8442f5;

  --pf-global--primary-color--200: #7c3aed;
  --pf-global--primary-color--light-200: #7c3aed;
  --pf-global--primary-color--dark-200: #7c3aed;

  --pf-global--primary-color--300: #8c4afd;
  --pf-global--primary-color--light-300: #8c4afd;
  --pf-global--primary-color--dark-300: #8c4afd;

  --pf-global--BackgroundColor--300: #222222; /*charcoal-700*/

  --pf-global--LineHeight--md: 0.9rem;
  --pf-global--FontWeight--normal: 100;
  --pf-global--BackgroundColor: #ff0000;
}

.pf-c-button {
  --pf-c-button--FontSize: 13px;
}

.pf-c-button.pf-m-secondary {
  --pf-c-button--m-secondary--Color: #ddd;
  --pf-c-button--m-secondary--BackgroundColor: transparent;
  --pf-c-button--after--BorderColor: rgb(229, 231, 235);
}
