:root {
  --pf-global--primary-color--100: #8442f5;
  --pf-global--primary-color--light-100: #8442f5;
  --pf-global--primary-color--dark-100: #8442f5;

  --pf-global--primary-color--200: #7c3aed;
  --pf-global--primary-color--light-200: #7c3aed;
  --pf-global--primary-color--dark-200: #7c3aed;

  --pf-global--primary-color--300: #8c4afd;
  --pf-global--primary-color--light-300: #8c4afd;
  --pf-global--primary-color--dark-300: #8c4afd;

  --pf-global--BackgroundColor--300: #4b5563;

  --pf-c-form__helper-text--m-error--Color: #ff0000;

  --pf-global--LineHeight--md: 0.9rem;
  --pf-global--FontWeight--normal: 100;
  --pf-c-nav__link--after--BorderColor: #7c3aed;
  --pf-global--BackgroundColor: #ff0000;
}

.pf-c-nav {
  --pf-c-nav__link--before--BorderBottomWidth: 0;
  --pf-c-nav__link--FontWeight: 600;
  --pf-c-nav__link--m-current--BackgroundColor: rgba(255, 255, 255, 0.2);


  --pf-c-nav__link--PaddingTop: 13px;
  --pf-c-nav__link--PaddingBottom: 13px;
  --pf-c-nav__link--PaddingRight: 4px;
  --pf-c-nav__link--PaddingLeft: 16px;

  /* gray 200*/
  --pf-c-nav__link--Color: #e2e8f0;
  --pf-c-nav__link--m-current--Color: #fff;
}

.pf-c-nav__link::after {
  --pf-c-nav__link--after--BorderColor: #8b5cf6;
  --pf-c-nav__link--m-current--after--BorderColor: #8b5cf6;
 }

 .pf-c-tabs__link::after {
  --pf-c-tabs__link--after--BorderColor: #8b5cf6;
  --pf-c-tabs__link--m-current--after--BorderColor: #8b5cf6;
 }


.pf-c-button {
  --pf-c-button--FontSize: 13px;
}

.pf-c-button.pf-m-secondary {
  --pf-c-button--m-secondary--Color: #ddd;
  --pf-c-button--m-secondary--BackgroundColor: rgb(156,163,175);
  --pf-c-button--after--BorderColor: rgb(229,231,235);
}

nav .pf-c-badge.pf-m-read {
  --pf-c-badge--Color: #fff;
  --pf-c-badge--BackgroundColor: #8b5cf6;
}

.pf-c-tree-view {
  --pf-c-tree-view__node--PaddingTop--base: 0.3rem;
  --pf-c-tree-view__node--PaddingTop: 0.2rem;
  --pf-c-tree-view__node--PaddingBottom: 0.2rem;
  --pf-c-tree-view__node--indent--base: calc(0.6rem * 2 + var(--pf-c-tree-view__node-toggle-icon--MinWidth));
}

.pf-c-form {
  --pf-c-form--GridGap: 1rem;
  overflow-y: hidden;
}

.pf-c-form .pf-u-min-height {
  --pf-u-min-height--MinHeight: 3.3rem;
}

.pf-c-modal-box {
  --pf-c-modal-box__body--PaddingTop: 3.5rem;
  --pf-c-modal-box__header--body--PaddingTop: 1.5rem;
}
